<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>We, at AidAlly, provide goods to people in need across the country.</li>
		<li>Our main goal is to provide people with the minimal things needed for everyday survival.</li>
		<li>We try to deliever the donated goods to the economically weaker section as soon as possible.</li>
	</ul>
</div>