<h1 class="m-4 color-theme">Contact us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>For any concerns, please call at our toll free numbers between 9 AM to 6 PM:</li>
		<ul>
			<li>+91 89754 67389 (within India)</li>
			<li>+91 97654 23456 (within India)</li>
		</ul>
		<li>You can also visit our offices and to get insights of how our agents serve food at different places.</li>
		<ul>
			<li>AyaNagar , Delhi</li>
			<li>VasanthNagar, Hyderabad</li>
		</ul>
		<li>You can also email your suggestions and feedback at <mark>aidally@gmail.com</mark></li>
	</ul>
</div>